    <link rel="stylesheet" href="/css/styles.css">
<h1> Bienvenidos al super </h1>

<h2> lista de productos </h2>


{{>card}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>
 
