<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Products</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>Vista para realtime products</h2>
    <form id="add-product-form">
        <input type="text" id="title" placeholder="Título" required>
        <input type="text" id="description" placeholder="Descripción" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="text" id="code" placeholder="Código" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <button type="submit">Agregar Producto</button>
    </form>
    <ul id="lista-productos"></ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>