{{#each arrayProductos}}
    <ul id="lista-productos">
        <div class = "product-card">
            <h2>Titulo : {{this.title}} </h2>
            <p>Descripcion : {{this.Description}} </p>
            <p>Precio : {{this.price}} </p>
            <button> comprar </button>
        </div>
    </ul>
{{/each}}