{{#each arrayProductos}}
    <ul id="lista-productos">
        <div class = "product-card">
                <p>Título: {{this.title}}</p>
                <p>Descripción: {{this.description}}</p>
                <p>Precio: {{this.price}}</p>
            <button> comprar </button>
        </div>
    </ul>
{{/each}}